:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.page-content {
  flex: 1 0 auto;
  padding-bottom: 100px;
}

app-footer {
  flex-shrink: 0;
  margin-top: auto;
}
