/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Toastr Notifications */
.toast-top-right {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
  z-index: 999999 !important;
}
