# application-e2e.yml
spring:
  config:
    activate:
      on-profile: e2e

  datasource:
    url: jdbc:h2:mem:e2e-db;DB_CLOSE_DELAY=-1
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  sql:
    init:
      mode: never

app:
  datagen:
    enabled: false

